*{
    margin: 0;
    padding: 0;
}
.container{
    height:100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows:8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh 8.33vh
    8.33vh ;
}

.g{
    margin: 4px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

.g1{
    grid-row: 1/13;
}

.g2{
    grid-row: 1/7; 
}
.g3{
    grid-row:7/13; 
}
.g4{
    grid-row:1/5; 
}
.g5{
    grid-row:5/9; 
}
.g6{
    grid-row:9/13;
}
.g7{
    grid-row:1/4;
}
.g8{
    grid-row:4/7;
}
.g9{
    grid-row: 7/10;
}
.g10{
    grid-row: 10/13;
}
.g11{
    grid-row: 1/3;
}
.g12{
    grid-row: 3/5;
}
.g13{
    grid-row: 5/7;
}
.g14{
    grid-row: 7/9;
}
.g15{
    grid-row: 9/11;
}
.g16{
    grid-row: 11/13;
}